@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';
@theme {
  --font-montserrat: 'Montserrat', sans-serif;
}
@import 'tailwind-animations';
@custom-variant dark (&:where(.dark, .dark *));
