<div class="p-4 dark:bg-blue-900 dark:text-white">
    <div class="grid grid-cols-3 grid-rows-1">
        <div class=""></div>
        <ul
            class="flex gap-6 items-center justify-center text-lg font-semibold font-montserrat"
        >
            <li
                class="relative group hover:cursor-pointer hover:animate-pulsing hover:animate-duration-500 p-1"
            >
                <span class="relative z-10 p-4"> Proyectos </span>
                <span
                    class="absolute z-10 left-0 -top-0.5 h-0.5 bg-white transition-all duration-100 w-0 group-hover:w-full"
                ></span>
                <span
                    class="z-0 dark:bg-gray-500 opacity-50 absolute inset-0 rounded-b-full
            group-hover:bg-sky-500 group-hover:border-sky-500 group-hover:border-2"
                >
                </span>
            </li>
            <li
                class="relative group hover:cursor-pointer hover:animate-pulsing hover:animate-duration-500 p-1"
            >
                <span class="relative z-10 p-4"> Servicios </span>
                <span
                    class="absolute z-10 left-0 -top-0.5 h-0.5 bg-white transition-all duration-100 w-0 group-hover:w-full"
                ></span>
                <span
                    class="z-0 dark:bg-gray-500 opacity-50 absolute inset-0 rounded-b-full
            group-hover:bg-sky-500 group-hover:border-sky-500 group-hover:border-2"
                >
                </span>
            </li>
            <li
                class="relative group hover:cursor-pointer hover:animate-pulsing hover:animate-duration-500 p-1"
            >
                <span class="relative z-10 p-4"> Contactame </span>
                <span
                    class="absolute z-10 left-0 -top-0.5 h-0.5 bg-white transition-all duration-100 w-0 group-hover:w-full"
                ></span>
                <span
                    class="z-0 dark:bg-gray-500 opacity-50 absolute inset-0 rounded-b-full
            group-hover:bg-sky-500 group-hover:border-sky-500 group-hover:border-2"
                >
                </span>
            </li>
        </ul>
        <button
            class="ml-auto px-6 py-2 rounded-xl font-semibold
          bg-sky-500 hover:bg-sky-600 text-white
          transition-all duration-300 shadow-lg hover:scale-105 cursor-pointer"
        >
            Cotizar 🚀
        </button>
    </div>
</div>
